alias: "[LG] webOS TV"
description: ""
trigger:
  - platform: state
    entity_id:
      - media_player.lg_webos_tv_uq9000psd
    to: "on"
condition:
  - condition: time
    before: "21:00:00"
action:
  - delay:
      hours: 1
      minutes: 0
      seconds: 0
      milliseconds: 0
  - service: webostv.command
    data:
      entity_id: media_player.lg_webos_tv_uq9000psd
      command: system/turnOff
mode: single
